<script>
    let questBut = document.querySelector(".qicon")
    let questBox = document.querySelector(".todo");
    function openQuest() {
        document.querySelector(".todo").style.opacity = "1";
        document.querySelector(".todo").style.zIndex = "5"
    }
    questBut.addEventListener("click", openQuest())
</script>
<div class="welcomeban">
<h1 class="name">Welcome <%= screenname %>,</h1>
<h1 class="god">Child of <%= god %></h1>
</div>
<div class="todo">
    <h1>Assigned Quests</h1>
    <ul>
        <% quests.forEach((quest) => { %>
            <li>
            <a href="/quests/<%=quest.id%>">
            <button>
                <div>
                    <h2><%= quest.title %></h2>
                    <h3>Progress: <%= quest.complete %></h3>
                </div>
            </button>
            </a>
            </li>
    <% }) %>
    </ul>
</div>
<div class="ann">
    <form action="announcements">
        <input class="aicon" type="submit" value="">
    </form>
</div>
<div class="chiron"></div>
<div class="quests">
        <button onclick="openQuest()" class="qicon"></button>
</div>
<div class="oracle"></div>
<div class="iris">
    <form action="message">
        <input class="iicon" type="submit" value="">
    </form>
</div>
<div class="irispic"></div>
<div class="campbg"></div>
<div class="light"></div>
<div class="light2"></div>
<div class="sun1"></div>
<div class="sun2"></div>
<div class="logout">
    <form action="/" method="GET">
        <input class="logout" type="submit" value="Logout">
    </form>
</div>
