<div class="newquestmaker">
                    <h1><%= quest.title %></h1>
                    <h2>Summary</h2>
                    <h3><%= quest.summary %></h3>
                    <h2>Timeline</h2>
                    <h3><%= quest.timeline %></h3>
                    <h2>Budget</h2>
                    <h3><%= quest.budget %></h3>
                    <h3>Completed:</h3>
                    <h4><%=quest.complete%></h4>
                    <a href="/quests/<%=quest.id%>/edit">
                        <button>Edit</button>
                    </a>
                    <form action="/quests/<%=quest.id%>?_method=Delete" method="POST">
                        <input type="submit" value="Delete">
                    </form>
                    <a href="javascript:history.back()" class="">Back</a>
</div>


<div class="campbg"></div>
<div class="light"></div>
<div class="light2"></div>
<div class="sun1"></div>
<div class="sun2"></div>